html {
  height: 100%;
}

body {
      padding-top: 50px;
      height: 100%;
  }

  .padded {
    padding: 10px 15px 0px 15px;
  }

  .fill {
    height: 100%;
  }
  
  .google-map {
    height: 100%;
    min-height: 100%;
    width: 100%;
  }

  .infowindow {
    padding: 10px 10px;
    width: 160px;
    height: 70px;
  }

  .mapMenuOutline {
    padding: 5px 5px;
  }

  .mapMenu {
    background-color: white;
    padding: 5px 5px;
  }
