{% extends "layout.html" %}
{% block content %}
<div class="padded">
<div class="row">
  <div class="col-lg-6">
    <form class="form-inline" method="POST" enctype="multipart/form-data" action="/import/airspace">
    <div class="form-group">
        <label for="airspacefile">Flyland OpenAir File</label>
        <input type="file" id="airspacefile" name="airspace"/>
    </div>
    <button type="submit" class="btn btn-default">import</button>
  </div>
  </form>
  {% if files %}
  <div class="col-lg-6">
    <table class="table table-bordered">
      <thead>
      <tr>
        <th>#</th>
        <th>File Name</th>
        <th>Import Date</th>
      </tr>
      </thead>
      <tbody>
      {% for file in files %}
        <tr>
          <td>{{ loop.index }}</td>
          <td>{{ file.name }}</td>
          <td>{{ file.importDate }}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  {% endif %}
 </div>
</div>
{% endblock %}
