{% extends "layout.html" %}
{% block content %}
<div class="padded">
  <div class=container">
    <div class="col-lg-6">
      <div class="input-group">
        <div class="input-group-btn">
          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">File<span class="caret"></span></button>
          <ul class="dropdown-menu">
            {% if files %}
              {% for file in files %}
                <li><a href="#">{{file.name}}</a></li>
              {% endfor %}
            {% endif %}
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<!--
<script type="text/javascript">
  $(document.body).on('click','.dropdown-menu', function(event) {
      var $target = $(event.currentTarget);
      $target.closest('.btn-group')
        .find('[data-bind="label"]').text($target.text()).end()
        .children('.dropdown-toggle').dropdown('toggle');
      return false;
  });
</script>
-->
{% endblock %}
