{% extends "layout.html" %}
{% block content %}
<div class="padded">
<div class="row">
  <div class="col-lg-6" style="padding: 15px">
    <button class="btn btn-primary" id="formbutton_flight_upload" data-toggle="modal" data-target="#uploadform">Import</button>
  </div>
</div>
<div class="row">
  <div class="col-lg-10">
  {% if tracks %}
    <table class="table table-bordered">
      <thead>
      <tr>
        <th>#</th>
        <th>Name</th>
        <th>Track Name</th>
        <th>Description</th>
        <th>Import Date</th>
      </tr>
      </thead>
      <tbody>
      {% for track in tracks %}
        <tr>
          <td>{{ loop.index }}</td>
          <td>{{ track.aux_name }}</td>
          <td>{{ track.name }}</td>
          <td>{{ track.short_description }}</td>
          <td>{{ track.importDate }}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  {% endif %}
 </div>
</div>

<div class="modal fade" id="uploadform" tabindex="-1" role="dialog"  aria-labelledby="FlightImport" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="FlightUpload">Import Flight</h4>
        {% if form.errors %}
        <div class="help-block">
          <ul class="errors">
            {% for field_name, field_errors in form.errors|dictsort if field_errors %}
              {% for error in field_errors %}
                <li>{{ form[field_name].label }}: {{ error }}</li>
              {% endfor %}
            {% endfor %}
          </ul>
        </div>
       {% endif %}
      </div>
      <div class="modal-body">
        {% from "_formhelpers.html" import render_field %}
        <form class="form-horizontal" role="form" method="POST" enctype="multipart/form-data" action="/import/flight">
           {{ render_field(form.file) }}  
           {{ render_field(form.name) }}
           {{ render_field(form.description) }}
           <button type="submit" class="btn btn-default">import</button>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
{% block script %}
<!-- <script type="text/javascript">
  $("#formbutton_flight_upload").click(function() {
    
  });
</script> -->
{% if form.errors %}
  <script type="text/javascript">
    $(document).ready(function() {
      $("#formbutton_flight_upload").click();
    });
  </script>
{% endif %}
{% endblock %}
