<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="DABS Airspace Management">
    <meta name="author" content="Michael Mimo Moratti">
    <title>DABSA</title>
    <link href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}" rel="stylesheet"/>
    <link href="{{ url_for('static', filename='template.css') }}" rel="stylesheet"/>
    <link href="{{ url_for('static', filename='fontawesome/css/font-awesome.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='ladda/ladda-themeless.min.css') }}" rel="stylesheet">
  </head>

  <body>
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="/">DABSA</a>
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav">
      {% if request.path == '/' %}<li class="active">{% else %}<li>{% endif %}<a href="/">Home</a></li>
      {% if request.path == '/import' %}<li class="active">{% else %}<li>{% endif %}<a href="/import">Import</a></li>
      {% if request.path == '/map' %}<li class="active">{% else %}<li>{% endif %}<a href="/map">Map</a></li>
      {% if files %}
      <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">{% if selected_file %}{{selected_file.name}}{% else %}Select File{% endif %}<b class="caret"></b></a>
         <ul class="dropdown-menu"> 
           {% for file in files %}
           <li><a href="{{request.path}}?airspacefileid={{file.id}}">{{file.name}}</a></li>
           {% endfor %}
         </ul>
      </li>
      {% endif %}
    </ul>
  </div><!-- /.navbar-collapse -->
</nav>
{% block content %}{% endblock %}

    </div><!-- /.container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="{{url_for('static', filename='bootstrap/js/bootstrap.min.js') }}"></script>
    <script src="{{url_for('static', filename='tablesorter/jquery.tablesorter.js') }}"></script>
    <script src="{{url_for('static', filename='tablesorter/tables.js') }}"></script>
    <script src="{{url_for('static', filename='ladda/spin.min.js') }}"></script>
    <script src="{{url_for('static', filename='ladda/ladda.min.js') }}"></script>
{% block script %}{% endblock %}
  </body>
</html>
