{% extends "layout.html" %}
{% block content %}
<div class="container-fluid fill">
  <div id="mymap" class="google-map"></div>
</div>
{% endblock %}
{% block script %}
<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?libraries=drawing&sensor=false"></script>
<script type="text/javascript" src="{{ url_for('static', filename='dabsa/dabsa.js') }}"></script>
<script type="text/javascript">
  var map = initialize_google_map('mymap', new google.maps.LatLng({{ home_coordinates[0]  }}, {{ home_coordinates[1] }}) , {{ map_type }}, {{ map_zoom }});
</script>
{% endblock %}
