{% extends "layout.html" %}
{% block content %}
<div class="container-fluid fill">
  {{gmap.html}}
</div>
<script type="text/javascript">
  function extendMap(map) {
    var drawingManager = new google.maps.drawing.DrawingManager({
        drawingMode: google.maps.drawing.OverlayType.POLYGON,
        drawingControl: true,
        drawingControlOptions: {
          position: google.maps.ControlPosition.TOP_CENTER,
          drawingModes: [google.maps.drawing.OverlayType.POLYGON]
        },
	polygonOptions: {
	  draggable: true,
	  editable: true,
	  strokeColor: '#FF6600',
	  strokeOpacity: 0.8,
	  strokeWeight: 2,
	  fillColor: '#FFCC00',
	  fillOpacity: 0.35
        } 
    });
    drawingManager.setMap(map);

    google.maps.event.addListener(drawingManager, 'polygoncomplete', function(polygon) {
	drawingManager.setDrawingMode(null);
	google.maps.event.addListener(polygon, 'rightclick', function(polygon) {
	  polygon.setMap(null);
        });
        submitPolygonSelection(polygon);
    });

  }

  function submitPolygonSelection(polygon) {
    var form = document.createElement("form");
    form.setAttribute("method","POST");
    form.setAttribute("action","/map");
    var amount = document.createElement("input");
    amount.setAttribute("type","hidden");
    amount.setAttribute("name","amount");
    amount.setAttribute("value",polygon.getPath().getLength());
    form.appendChild(amount);
    polygon.getPath().forEach(function(latlng,i) {
        var point = document.createElement("input");
        point.setAttribute("type","hidden");
        point.setAttribute("name","point_" + i);
        point.setAttribute("value",latlng.lat() + ":" + latlng.lng());
        form.appendChild(point);
    });
    document.body.appendChild(form);
    if(confirm("Calculate Selection?")) {
      form.submit();
    }
    document.body.removeChild(form);
  }
</script>
{{gmap.js}}
<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?libraries=drawing&sensor=false"></script>
{% endblock %}
