<div class="container-fluid infowindow">
  <div class="row">
    <div class="col-xs-12">
      <b>Selection</b>
      <br/>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div class="btn-group btn-group-xs">
        <button class="btn btn-primary btn-success ladda-button" data-style="zoom-in" onclick="fetch_selection_data()">
          <span class="ladda-label">Submit</span>
          <span class="ladda-spinner"></span>
        </button>
        <button class="btn btn-danger" onclick="remove_selection()">Remove</button>
      </div>
    </div>
  </div>
</div>
