<div class="mapMenuOutline">
<div class="container-fluid mapMenu">
  <div class="row">
    <div id="selection-show-hide-buttons-div" class="col-xs-12 hide">
       <h5 class="text-center">Selection</h5>
	<ul class="list-group checked-list-box">
          <li id="show_selection_button_title_list_item" class="list-group-item checklistitem" data-alternate-title="Hide" data-js-function-to-execute="toggle_selection_button"><span id="show_selection_button_title" class="title">Show</span></li>
	</ul>
  </div>
 </div>
 <div class="row">
   <div id="cleanup-airspaces" class="col-xs-12 hide">
     <h5 class="text-center">Layer</h5>
     <ul id="check-list-box" class="list-group checked-list-box">
       <li class="list-group-item checklistitem">CTR</li>
       <li class="list-group-item checklistitem">TMA</li>
       <li class="list-group-item checklistitem">AWY</li>
       <li class="list-group-item checklistitem">Obstacles</span></li>
       <li class="list-group-item checklistitem">Wildlife Protection</li>
     </ul>
   </div>
 </div>
</div>
