<div class="mapMenuOutline">
<div class="container-fluid mapMenu">
  <div class="row">
    <div class="col-xs-12">
        <h5>DABSA</h5>
      <br/>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div class="checkbox">
        <label>
          <input type="checkbox" value="AWY"/>
          Airways
        </label>
        <label>
          <input type="checkbox" value="CTR"/>
          CTR's
        </label>
      </div>
      <ul>
        <li>foo</li>
        <li>bar</li>
        <li>spam</li>
        <li>eggs</li>
      </ul>
    </div>
  </div>
</div>
</div>
