<div class="mapMenuOutline">
<div class="container-fluid mapMenu">
  <div class="row">
    <div id="selection-show-hide-buttons-div" class="col-xs-12 hide">
       <h5 class="text-center">Selection</h5>
	<div class="form-group checkbox">
	  <label>
	    <input id="toggle-selection-checkbox" type="checkbox" onclick="toggle_selection();">Show Selection</input>
	  </label>
	</div>
  </div>
 </div>
 <div class="row">
   <div id="airspaces" class="col-xs-12 hide">
     <h5 class="text-center">Airspaces</h5>
     <div class="form-group checkbox">
       <label>
         <input id="toggle-ctr-checkbox" class="airspace_selector" type="checkbox" onclick="toggle_airspace('toggle-ctr-checkbox','airspace',['CTR']);">CTR</input>
       </label>
     </div>
     <div class="form-group checkbox">
       <label>
         <input id="toggle-tma-checkbox" class="airspace_selector" type="checkbox" onclick="toggle_airspace('toggle-tma-checkbox','airspace',['CLASS_C','CLASS_D','CLASS_E']);">TMA</input>
       </label>
     </div>
     <div class="form-group checkbox">
       <label>
         <input id="toggle-restricted-checkbox" class="airspace_selector" type="checkbox" onclick="toggle_airspace('toggle-restricted-checkbox','airspace',['RESTRICTED']);">Restricted</input>
       </label>
     </div>
     <div class="form-group checkbox">
       <label>
         <input id="toggle-prohibited-checkbox" class="airspace_selector" type="checkbox" onclick="toggle_airspace('toggle-prohibited-checkbox','airspace',['PROHIBITED']);">Prohibited</input>
       </label>
     </div>
     <div class="form-group checkbox">
       <label>
         <input id="toggle-danger-checkbox" class="airspace_selector" type="checkbox" onclick="toggle_airspace('toggle-danger-checkbox','airspace',['DANGER']);">Danger</input>
       </label>
     </div>
     <h5 class="text-center">Additionals</h5>
     <div class="form-group checkbox">
       <label>
         <input type="checkbox">Obstacle</input>
       </label>
     </div>
     <div class="form-group checkbox">
       <label>
         <input type="checkbox">Wildlife Protection</input>
       </label>
     </div>
   </div>
 </div>
</div>
